<body>
  <%- include("partials/header") %>
  <main>
    <h1>Welcome to <span class="brand-text2">The Klxssic Touch</span></h1>
    <p>Thank you for trusting <span class="brand-text">The Klxssic Touch</span> with your luxury hair experience! Please take 5 minutes to provide feedback and an honest review of your service or purchase. </p>
    <p>Additionally, feel free to ask questions and calculate your custom wig price estimate.</p>

    <a href="/agreement">
      <button>Continue</button>
    </a>
  </main>
  <%- include("partials/footer") %>
</body>