<html>
  <head>
    <title>The Klxssic Touch</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/star.js"></script>
  </head>

  <body>
    <header>
      <div class="logo">
        <a href="/">
          <img src="/logo.png" alt="The Klxssic Touch Logo">
        </a>
      </div>

      <nav>
        <a href="/">Home</a>
        <a href="/agreement">Agreement</a>
        <a href="/service-reviews">Service Reviews</a>
        <a href="/product-reviews">Product Reviews</a>
        <a href="/qa">Q&A</a>
        <a href="/estimate">Estimate</a>
        <a href="/admin">Admin</a>
      </nav>
    </header>
  </body>
</html>